<header class="navbar navbar-expand navbar-dark transparent sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.site_name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon sticky-top"></span>
    </button>
    <div class="ms-auto collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="nav-link" href="{{ '/#contact' | prepend: site.baseurl }}">Contactez - Moi</a>
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
      </ul>
    </div>
  </div>
</header>

<style type="text/css">
  
  .transparent{
    background-color: #28282B;
  }

</style>